﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TATIL ZAMANI", "Anasayfa", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="col-md-8 ">
                    @Html.ActionLink("Anasayfa", "Anasayfa", "Home")
                    @Html.ActionLink("Tatil Köyü", "Tatil Köyü", "Home")
                    @Html.ActionLink("Yurt Dışı Otelleri", "Yurt Dışı Otelleri", "Home")
                    @Html.ActionLink("Kıbrıs Otelleri", "Kıbrıs Otelleri", "Home")
                    @Html.ActionLink("Erken Rezervasyon Otelleri", "Erken Rezervasyon Otelleri", "Home")                
                </ul>
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Üye Girişi</button>
                            </span>
                        </div>
                    </div>
                </div>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row ">
               <div class="col-md-3">&copy;Kopyalanamaz.</div>
               <div class="col-md-6">
                   <img src="~/Resources/facebook_logo.png" title="facebook"/> 
                   <img src="~/Resources/instagram_logo.jpg" title="instagram"/>
                   <img src="~/Resources/foursquare_logo.png" title="foursquare" />
                   <img src="~/Resources/linkedin_logo.png" title="linkedin" />
                   <img src="~/Resources/twitter_logo.png" title="=twitter" />
                   <img src="~/Resources/youtube_logo.jpg" title="youtube" />
               </div>  
                <div class="col-md-3">
                    @Html.ActionLink("Hakkımızda", "Hakkımızda", "Home")
                </div>    
            </div>          
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
